body{
  margin: 0 auto;
  background: #000;
  font-family: Georgia, Palatino, serif;
  color: #EEE;
  line-height: 1;
}
h1, h2, h3, h4 {
  font-weight: 400;
}
h1, h2, h3, h4, h5, p {
  margin-bottom: 24px;
  padding: 0;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
  margin: 24px 0 6px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
a {
  color: #61BFC1;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}
a:hover {
  text-decoration: underline;
}
ul, ol {
  padding: 0;
  margin: 0;
}
li {
  line-height: 24px;
}
li ul, li ul {
  margin-left: 24px;
}
p, ul, ol {
  font-size: 16px;
  line-height: 24px;
}
hr {
  width: 540px;
  text-align: left;
  margin: 0 auto 0 0;
  color: #999;
}

/* Code below this line is copyright Twitter Inc. */

