[type='text'] {
  padding: 1rem !important;
}

.title-box {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title-box > span {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.title-box > span > input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.custom-width {
  --prefix-width: 10em
}

.adm-list-item-content-prefix {
  --prefix-width: 75%
}